* {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue";
}

nav {
    width:100%;
    display:flex;
}

.appContainer {
    display:flex;
    flex-direction:column;
    padding: 28px 28px 0px 28px;
    min-height:100vh;
}

footer {
    display:flex;
    align-items:center;
    justify-content: center;
    padding:10px;
}

.navLink{
    flex:1;
    text-align:center;
    padding:18px;
    border-radius:12px;
    color: darkgrey;
    font-weight:700;
    text-decoration:none;
}

.navLink.active{
    background:blue;
    color:white;
}
.pageFull{
    width:100%;
    display:flex;
    flex-direction:column;
    flex:1;
}

.centerColumn{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:16px;
    text-align:center;
    flex: 1 1 auto;
}

.output {
    min-height: 40px;
}

.converterInput{
    width:100%;
    max-width:640px;
    padding: 20px;
    font-size:1.25rem;
    border-radius:12px;
    border:2px solid lightgrey;
}

.currencyList{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(160px,1fr));
    gap:14px;
    padding:10px 10px 0px 10px;
}

.currencyItem{
    padding:10px;
    border-radius:12px;
    border:2px solid lightgrey;
}

.currencyItem .rate {
    font-weight:700;
}

.selectorWrapper {
    width: 100%;
    max-width: 420px;
}
